@font-face {
    font-family: 'PT Serif';
    src: url('PTSerif-Regular.eot');
    src: url('PTSerif-Regular.eot?#iefix') format('embedded-opentype'),
        url('PTSerif-Regular.woff2') format('woff2'),
        url('PTSerif-Regular.woff') format('woff'),
        url('PTSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

